@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Fredoka+One&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Roboto:wght@900&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Monoton&family=Montserrat&family=Poppins:ital,wght@0,400;1,800&family=Raleway:wght@500&family=Roboto:wght@900&family=Rubik+Glitch&family=Yesteryear&display=swap');



.card-title{
    text-align: center;
}


.card-text-about{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.8rem;
    font-weight: normal;

    
  
}

.aboutname{
    color:white;
    text-shadow: 0px 3px 2px rgba(100, 100, 100, 3); 
    background-color:#0B8CD5;
    border-radius: 5px 20px 5px;
    padding: 0.5rem;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    letter-spacing: 0.2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;    
   
}
.skills-about{
    background-color:#0B8CD5;
    border-radius: 5px 20px 5px;
    padding: 0.5rem; 
    font-family: 'Bebas Neue', cursive;
    color:white;
    text-shadow: 0px 3px 2px rgba(100, 100, 100, 3); 
    font-size: 2em;
    letter-spacing: 0.2rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}




.about-list{
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-wrap: wrap;


}
.img-mayon{
    border-radius: 34% 66% 55% 45% / 36% 57% 43% 64%  ;
    box-shadow: 0 9px 6px -6px black;
}


.list{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    list-style: none;
    background-color: rgb(9, 134, 251);
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid rgb(124, 123, 122);
    color: rgb(0, 5, 5);
    font-size: larger;
    font-family: 'Bebas Neue';
    letter-spacing: 0.1rem;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);

   
}
.list:hover{
    color: rgb(168, 198, 233);
    background-color: rgb(22, 77, 154);
    transition: 1s;
    border: 2px solid white;
    font-variation-settings: "wght" 100, "ital" 0;
    box-shadow: none;
    border-radius: 5px;
}


.fa-brands{
 margin-top: 1.5rem;

 
}

#bo{
    background-color: blueviolet;
    width:70px;
    height:70px;
  
}
#ht{
    background-color: #0B8CD5;
    width:70px;
    height:70px;
    
}
#cs{
    background-color: rgb(255, 94, 0);
    width:70px;
    height:70px;
  
   
}
#ja{
    background-color: yellow;
    width:70px;
    height:70px;
  
}
#gi{
    background-color: #969798;
    width:70px;
    height:70px;

}
#py{
    background-color: #ffd343;
}
#my{
    background-color: teal;
    width:70px;
    height:70px; 
    font-size: 22px;
    letter-spacing: 0.5px;
    
   
    
 
}
#re{
    background-color: lightskyblue;
    width:70px;
    height:70px;
   
}

#ph{
    background-color: #807091;
    width:70px;
    height:70px;
  
   
    
}




#photo{
    background-color:  rgb(252, 252, 255);
    width:70px;
    height:70px;
}
#fil{
    background-color: aquamarine;
    width:70px;
    height:70px;
}

#tail{
    background-color: rgb(252, 255, 252);
    width:70px;
    height:70px;
}
#fig{
    background-color: rgb(252, 255, 252);
    width:70px;
    height:70px;

}

.about-list{
    padding-top: 1rem;
   
}
ul.about-list{
    text-align: center;
    justify-content: center;
    align-items: center;
}


