@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Montserrat:wght@100&family=Poppins&family=Roboto+Slab&display=swap');
*{
  padding:0;
  margin: 0 auto;
  box-sizing: border-box;
  max-height:fit-content;

}

body{
  
  /* background-image: url( '../src/images/back.svg' );
  background-repeat:no-repeat;
  background-size:cover; */


  
}


h1{
  text-align: center;
  margin-top: 2rem;
  font-family: 'Bebas Neue', cursive;
  color: black
 
}



 .navbar-toggler {
  border: none;
 

}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
  outline: none;
  box-shadow: none;
}
.card-body{
  font-family: 'Poppins', sans-serif;
 
}
.card-text{
  text-align: center;
 

}

.card-title{
  font-weight: bolder;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 0.2rem;
 

}
img{
  margin: 0px;
  padding: 0px;
  border: 0px;
  }

  